@import "tailwindcss";

@theme {
  --color-font: #0A0406;
  --color-background: #FFF4FB;
  --color-backgroundSecondary: #FFC6F3;
  --color-backgroundBlue: #3977E9;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}
